:root {
  --red: #ff0000;
  --charcoal: #333333;
  --darkBlue: #000088;
  --googleRed: #ea4335;
  --googleYellow: #fbbc05;
  --googleGreen: #2da94f;
  --googleBlue: #4285f4;
  --googleGradient: linear-gradient(to right, var(--googleRed), var(--googleYellow), var(--googleGreen), var(--googleBlue));
}

.navbar {
  background: var(--googleGradient);
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid var(--red); */
}

.navobj {
  width: 60%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.navobject {
  display: flex;
  justify-content: space-around;
}

.navlink {
  color: var(--darkBlue);
}
.navlink:hover {
  color: var(--googleBlue);
}
.navlink:visited {
  color: var(--charcoal);
}

@media (max-width: 768px) {
  .logo,
  .hello {
    display: none;
  }
}
