:root {
  --red: #ff0000;
  --charcoal: #333333;
  --googleRed: #ea4335;
  --googleYellow: #fbbc05;
  --googleGreen: #2da94f;
  --googleBlue: #4285f4;
  --googleGradient: linear-gradient(to right, var(--googleRed), var(--googleYellow), var(--googleGreen), var(--googleBlue));
  --headerFont: 'Inter', sans-serif;
}

.bookCard {
  margin: 0.5rem 0;
  border: 1px solid var(--charcoal);
}

img {
  border: 3px solid var(--charcoal);
}

.bookTitle {
  background: var(--googleGradient);
}

.icon {
  width: 50px;
  border: none
}

.iconButton {
  background-color: var(--googleBlue);
  border: 1px solid var(--white);
  max-height: 75px;
}

.right {
  display: flex;
  justify-content: flex-end;
}